
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/style.css">
    <style>
        hr{
        border: none; /* Убираем границу */
        background-color: blue; /* Цвет линии */
        color: blue; /* Цвет линии для IE6-7 */
        height: 2px; /* Толщина линии */
        margin: 50px;
        }
    </style>
    <title>ПАРАЛЛЕЛИ</title>
    <script src="https://yandex.st/jquery/2.2.3/jquery.min.js" type="text/javascript"></script>
    <script src="https://api-maps.yandex.ru/2.1/?lang=ru_RU&amp;apikey=40d1649f-0493-4b70-98ba-98533de7710b" type="text/javascript"></script>
    
</head>
<body>
<div class="wrapper">
<div class="content">
  <div>
    <h1  class="ml-5">Сайт Калининградского ПЕН-центра
    <img src="https://i0.wampi.ru/2020/09/17/kisspng-book-discussion-club-paperback-clip-art-book-stack-png-5ab147d10371c8.4080003015215676970141.png" width=4% alt="бот"/>
    </h1>
    <p></p>
    <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/">ГЛАВНАЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="/event">СОБЫТИЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/our_library">НАША БИБЛИОТЕКА</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/gallery">ГАЛЕРЕЯ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/projects">ПРОЕКТЫ</a>
            </li>
        </ul>

        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
              <a class="nav-link" href="/authors_opinion">АВТОРСКОЕ СЛОВО</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/frequent_opinion">ЧАСТНОЕ МНЕНИЕ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/young_voice">МОЛОДЫЕ ГОЛОСА</a>
            </li>
        </ul>
  </div>
  <p></p> 
    <h3 class="ml-5">Последние события </h3>
    <hr>
  <p></p>
  <style>
    .testdf {
      display: flex;
      justify-content: space-between;
      align-items: center;
    } 

    .text-container_1 {
      display: flex;
      flex-direction: column;
    } 

    .event_img {
      width: 350px;
      height: 350px;
      object-fit: cover;
    }
    .event_container {
      margin:0 75px
    }
  </style>
  <div class="event_container">
            <div class="testdf">
                <div class="text-container_1">
                  <img class = " event_img " src="https://i0.wampi.ru/2020/09/24/A.-BITOV-V-BIBLIOTEKE-IM.-S.-SNEGOVA-IMGP8366.jpg">
                  <p>
                  Добавленно новое произведение! <br>
                  Журнал «Параллели» <br>
                  Автор - Вячеслав КАРПЕНКО<br>
                  Можно ознакомиться в <a href="/our_library">библиотеке</a></h4>
                  </p>
                </div>
                <div class="text-container_1">
                  
                <img class = " event_img " src="https://i0.wampi.ru/2020/09/24/A.-BITOV-V-BIBLIOTEKE-IM.-S.-SNEGOVA-IMGP8366.jpg">
                <p>
                  Добавленно новое произведение! <br>
                  Обжигающий пламень Победы (2 тома) <br>
                  Автор - Борис Евсеев <br>
                  Можно ознакомиться в <a href="/our_library">библиотеке</a></h4>
                  </p>
                </div>
                <div class="text-container_1">
                  
                <img class = " event_img " src="https://i0.wampi.ru/2020/09/24/A.-BITOV-V-BIBLIOTEKE-IM.-S.-SNEGOVA-IMGP8366.jpg">
                <p>
                  Добавленно новое произведение! <br>
                  Игра в четыре руки <br>
                  Автор - Викторас РУДЖЯНСКАС <br>
                  Можно ознакомиться в <a href="/our_library">библиотеке</a></h4>
                  </p>
                </div>
            </div>
                        
    </div>
  <p></p>
  <hr>
<div class="footer">
    <div class="card bg-dark text-white">
      <img src="https://ia.wampi.ru/2020/09/12/BEZYMYNNYId25bd9caca42346a.png" class="card-img" alt="...">
      <div class="card-img-overlay">
        <h4 class="card-title">Сайт Калининградского ПЕН-центр <a href="https://yandex.ru">Яндекс</a></h4>
        <h5 class='p-0 m-0'>Обратная связь:</h5>
        <h6>
          Почта - <br>
          Телефон - <br>
        </h6>
        <p class="card-text" align="right">2020.© Сайт Калининградского ПЕН-центр</p>
        <div></div>
      </div>
    </div>
  </div>
</div>
</div> 
</body>
</html>
